<section class="about" id="About">

    <div class="about-container align-items-center">
      <div class="img">
        <%= image_tag 'shop_3.jpg' %>
      </div>
      <div class="about-content">
        <h2>We're Dope</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor dignissimos, possimus a error ipsa incidunt non est nihil unde cum inventore, amet minima explicabo architecto ratione labore exercitationem! Ut.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum esse molestiae voluptates. Mollitia modi beatae ea, molestias, fugit explicabo itaque dicta accusantium quam fuga perspiciatis voluptate, illum voluptates error reiciendis?</p>
      </div>
    </div>

</section>
