<footer>


      <div class="footer-content">
        <div class="access-info">
          <p id="footer-brand">Melting Pot</p>
          <div>
            <p class="footer-text">〒921-8025</p>
            <p class="footer-text">3-7-33 Masuizumi Kanazawa</p>
          </div>
          <div>
            <p class="footer-text">TEL: 076-242-7705</p>
            <p class="footer-text">MAIL: info@meltingpot-cb.com</p>
          </div>
        </div>

        <div class="social">
            <a href="https://www.instagram.com/meltingpot_coffeeandbar"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>

</footer>

<section class="copyright">
  <div class="container">
      <p>&copy; 2024 Rashad DuPaty</p>
  </div>
</section>
