<footer>


      <div class="footer-content" id="Contact">
        <div class="access-info">
          <p id="footer-brand">Vinyl Cafe</p>
          <div>
            <p class="footer-text">〒777-7777</p>
            <p class="footer-text">7-7-77 Dopeland Kanazawa</p>
          </div>
          <div>
            <p class="footer-text">TEL: 777-777-7777</p>
            <p class="footer-text">MAIL: cafe@vinyl_shop.com</p>
          </div>
        </div>

        <div class="social">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>

</footer>

<section class="copyright">
  <div class="container">
      <p>&copy; 2024 Rashad DuPaty</p>
  </div>
  <a href="https://www.vecteezy.com/free-vector/vinyl">Vinyl Vectors by Vecteezy</a>
</section>
