<section class="hero" id="home">
  <div class="container">
      <div class="row full-screen">
          <div class="hero-content">
              <div class="block">
                <h5>COFFEE & BAR</h3>
                <h1>Melting Pot</h1>
                <h6>Good Music, Good Vibes, Good Cheese Toast</h6>
                <dl>
                  <dt>Open Hours</dt>
                  <dd>Mon-Fri 12PM-4PM 7PM-12AM</dd>
                  <dd>Sat-Sun 1PM-12AM</dd>
                  <dd>Thur Closed</dd>
                </dl>
              </div>
          </div>
      </div>
  </div>
</section>


