<section class="menu" id="Menu">

      <section class="card pinned menu-section">
        <div class="menu-slide">
          <div class="menu-content">
            <h2>TOAST & SANDWICHES</h2>
            <p>
              <strong>クラシックメルト ￥５００単品 / ￥７００セット</strong>
              <br>
              ゴーダチーズ,ブラックペッパー
            </p>

            <p>
              <strong>クラシック  ＸＬ ￥６５０単品 / ￥８００セット</strong>
              <br>
              ハム,ゴーダチーズ,エッグ
            </p>

            <p>
              <strong>鬼チーズ ￥６００単品 / ￥７５０セット</strong>
              <br>
              チェダーチーズ,ゴーダチーズ,モッツァレラチーズ
            </p>

            <p>
              <strong>ホットチリツナ ￥６００単品 / ￥７５０セット</strong>
              <br>
              ゴーダチーズ,ツナ,トマト,チリとうからし,コーン
            </p>

            <p>
              <strong>アボカド＆シュリンプ ￥７００単品 / ￥８５０セット</strong>
              <br>
              アボカド,ガーリックシュリンプ,クリームチーズ
            </p>
          </div>
        </div>
      </section>

      <section class="card pinned menu-section">
        <div class="menu-slide">
          <div class="menu-content">
            <h2>SALADS</h2>
              <p>
                <strong>キングシーザー ￥７００</strong>
                <br>
                レタス,ベーコン,トマト,クルトン,パプリカ,温玉,パルメザン
              </p>

              <p>
                <strong>クイーン  コブ ￥７５０</strong>
                <br>
                アボカド,チキン,トマト,レタス,オリーブ,ビーンズ,クリームチーズ
              </p>

            <h2>SNACKS</h2>
            <p>
              <strong>フレンチフライ ￥４５０</strong>
            </p>

            <p>
              <strong>フィッシュ＆チップス ￥６００</strong>
            </p>

            <p>
              <strong>オニオンフライ ￥５５０</strong>
            </p>

            <p>
              <strong>ナチョス ￥５００</strong>
            </p>
          </div>
        </div>
      </section>

      <section class="card pinned menu-section">
        <div class="menu-slide">
          <div class="menu-content">
            <h2>DENISH</h2>
            <p>
              <strong>ミックスベリー＆クリームチーズ ￥６５０</strong>
              <br>
              ミックスベリー,ベリーソース,クリームチーズ
            </p>

            <p>
              <strong>チョコバナナ＆マスカルポーネ ￥６５０</strong>
              <br>
              チョコソース,バナナ,マスカルポーネチーズ
            </p>

            <p>
              <strong>ゆず＆クリームチーズ  ￥６００</strong>
              <br>
              ゆずジャム,クリームチーズ
            </p>

            <p>
              <strong>小倉＆クリームチーズ ￥６００</strong>
            </p>
            <h2>CEREAL</h2>
            <p>
              <strong>プレーン ￥４００</strong>
            </p>

            <p>
              <strong>チョコレート ￥４００</strong>
            </p>
          </div>
        </div>
      </section>

      <section class="card scroll menu-section">
        <div class="menu-slide">
          <div class="menu-content">
            <h2>DRINKS</h2>
            <p>
              <strong>メルティングポットオリジナル  ￥４００</strong>
              <br>
              HOT or ICE
            </p>

            <p>
              <strong>ミルク  ￥２５０</strong>
              <br>
              HOT or ICE
            </p>

            <p>
              <strong>チョコレートミルク  ￥３５０</strong>
            </p>

            <p>
              <strong>キャラメルミルク  ￥３５０</strong>
            </p>

            <p>
              <strong>バナナミルク  ￥４００</strong>
            </p>

            <p>
              <strong>ソフトドリンク  ￥３００</strong>
            </p>

            <p>
              <strong>ノンアルコールビール  ￥４００</strong>
            </p>

            <p>
              <strong>各種アルコール類  BEER,WHISKEY,COCKTAIL,etc ￥５５０～</strong>
            </p>

          </div>
        </div>
      </section>

      <section class="menu-footer"></section>

</section>
