<section class="menu" id="Menu">
  <div class="menu-container">
    <div class="row">
      <div class="section-title text-center">
        <h1>Cafe Menu</h1>
      </div>
    </div>



      <div class="tab">
        <button class="tablinks" onclick="openMenu(event, 'Toast')" id="defaultOpen">TOAST & SANDWICHES</button>
        <button class="tablinks" onclick="openMenu(event, 'Salads')">SALADS</button>
        <button class="tablinks" onclick="openMenu(event, 'Snacks')">SNACKS</button>
        <button class="tablinks" onclick="openMenu(event, 'Cereal')">CEREAL</button>
        <button class="tablinks" onclick="openMenu(event, 'Denish')">DENISH</button>
        <button class="tablinks" onclick="openMenu(event, 'Coffee')">COFFEE</button>
        <button class="tablinks" onclick="openMenu(event, 'Milk')">MILK</button>
        <button class="tablinks" onclick="openMenu(event, 'Drinks')">DRINKS</button>
      </div>




    <div id="Toast" class="tabcontent">
      <p>
        <strong>クラシックメルト ￥５００単品 / ￥７００セット</strong>
        <br>
        ゴーダチーズ,ブラックペッパー
      </p>

      <p>
        <strong>クラシック  ＸＬ ￥６５０単品 / ￥８００セット</strong>
        <br>
        ハム,ゴーダチーズ,エッグ
      </p>

      <p>
        <strong>鬼チーズ ￥６００単品 / ￥７５０セット</strong>
        <br>
        チェダーチーズ,ゴーダチーズ,モッツァレラチーズ
      </p>

      <p>
        <strong>ホットチリツナ ￥６００単品 / ￥７５０セット</strong>
        <br>
        ゴーダチーズ,ツナ,トマト,チリとうからし,コーン
      </p>

      <p>
        <strong>アボカド＆シュリンプ ￥７００単品 / ￥８５０セット</strong>
        <br>
        アボカド,ガーリックシュリンプ,クリームチーズ
      </p>
    </div>

    <div id="Salads" class="tabcontent">
      <p>
        <strong>キングシーザー ￥７００</strong>
        <br>
        レタス,ベーコン,トマト,クルトン,パプリカ,温玉,パルメザン
      </p>

      <p>
        <strong>クイーン  コブ ￥７５０</strong>
        <br>
        アボカド,チキン,トマト,レタス,オリーブ,ビーンズ,クリームチーズ
      </p>
    </div>

    <div id="Snacks" class="tabcontent">
      <p>
        <strong>フレンチフライ ￥４５０</strong>
      </p>

      <p>
        <strong>フィッシュ＆チップス ￥６００</strong>
      </p>

      <p>
        <strong>オニオンフライ ￥５５０</strong>
      </p>

      <p>
        <strong>ナチョス ￥５００</strong>
      </p>
    </div>

    <div id="Cereal" class="tabcontent">
      <p>
        <strong>プレーン ￥４００</strong>
      </p>

      <p>
        <strong>チョコレート ￥４００</strong>
      </p>
    </div>

    <div id="Denish" class="tabcontent">
      <p>
        <strong>ミックスベリー＆クリームチーズ ￥６５０</strong>
        <br>
        ミックスベリー,ベリーソース,クリームチーズ
      </p>

      <p>
        <strong>チョコバナナ＆マスカルポーネ ￥６５０</strong>
        <br>
        チョコソース,バナナ,マスカルポーネチーズ
      </p>

      <p>
        <strong>ゆず＆クリームチーズ  ￥６００</strong>
        <br>
        ゆずジャム,クリームチーズ
      </p>

      <p>
        <strong>小倉＆クリームチーズ ￥６００</strong>
      </p>
    </div>

    <div id="Coffee" class="tabcontent">
      <p>
        <strong>メルティングポットオリジナル  ￥４００</strong>
        <br>
        HOT or ICE
      </p>
    </div>

    <div id="Milk" class="tabcontent">
      <p>
        <strong>ミルク  ￥２５０</strong>
        <br>
        HOT or ICE
      </p>

      <p>
        <strong>チョコレートミルク  ￥３５０</strong>
      </p>

      <p>
        <strong>キャラメルミルク  ￥３５０</strong>
      </p>

      <p>
        <strong>バナナミルク  ￥４００</strong>
      </p>
    </div>

    <div id="Drinks" class="tabcontent">
      <p>
        <strong>ソフトドリンク  ￥３００</strong>
      </p>

      <p>
        <strong>ノンアルコールビール  ￥４００</strong>
      </p>

      <p>
        <strong>各種アルコール類  BEER,WHISKEY,COCKTAIL,etc ￥５５０～</strong>
      </p>
    </div>

  </div>
</section>
