<header class="head1">
  <div class="navbar">
      <%= image_tag "brand_icon.png", class:"shop-emblem" %>
      <ul>
          <li><a href="#Home" class="active">Home</a></li>
          <li><a href="#About">About Us</a></li>
          <li><a href="#Services">Menu</a></li>
          <li><a href="#Portfolio">Events</a></li>
          <li><a href="#Contacts">Social</a></li>
      </ul>
  </div>
</header>
