<header class="head1">
  <div class="navbar">
      <%= image_tag "brand_icon.png", class:"shop-emblem" %>
      <ul>
          <li><a href="#Home" class="active">Home</a></li>
          <li><a href="#About">About Us</a></li>
          <li><a href="#Menu">Menu</a></li>
          <li><a href="#Gallery">Gallery</a></li>
          <li><a href="#Contact">Contact</a></li>
      </ul>
  </div>
</header>

<header class="head2">
  <nav class="navbar2">
    <%= image_tag "brand_icon.png", class:"shop-emblem" %>

    <ul class="nav-menu">
      <li class="nav-item">
        <a href="#Home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#About" class="nav-link">About Us</a>
      </li>
      <li class="nav-item">
        <a href="#Menu" class="nav-link">Menu</a>
      </li>
      <li class="nav-item">
        <a href="#Gallery" class="nav-link">Gallery</a>
      </li>
      <li class="nav-item">
        <a href="#Contact" class="nav-link">Contact</a>
      </li>
    </ul>

    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

  </nav>
</header>
