.about{
  padding: 3rem;
  background-color: #D3BA96;
}
.about-container{
  display: flex;
  flex-direction: row;
}
.about .about-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center
}
.about .img{
  width: 50%;
  display: flex;
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.about .img img{
  width: 75%;
  display: block;
  border-radius: 1rem;
  border: 2px solid black;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.img video {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.about .about-content h2{
  font-family: "CooperBlack";
  text-transform: uppercase;
  color: #541519;
  margin: 0 0 5px;
  position: relative;
  width: 80%;
}
.about .about-content p{
  color: #541519;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 15px 0 0px;
  width: 80%;
}

@media (max-width: 576px){
  .about-container{
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }
  .about .about-content{
    padding-right: unset;
    width: 100%;
  }
  .about .img {
    width: 100%;
  }
}

@media (max-width: 435px){
  .about-container {
    flex-direction: column;
    gap: 2rem;
  }
  .about .img img {
    width: 150%;
  }
}
