footer{
  padding: 0.5rem 3rem;
  background-color: #2F2A2A;
  border-top: 1px solid #999999;
}
#footer-brand{
  font-family: "Umbriago NF W01 Regular";
  font-size: 1.5rem;
  color: #fffe00cc;
  text-shadow: 2px 2px #000000;
}
.access-info{
  margin-top: 1rem;
  line-height: 1;
  gap: 2rem;
  flex-direction: row;
  display: flex;
  font-size: 1rem;
  color: #999999;
}
footer .social{
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
footer .social a{
  color: #999999;
  text-decoration: none;
  display: inline-block;
  margin: 0px 12px;
  transition: all .5s ease;
  &:hover {
    transform: scale(1.2); /* Zoom in on hover */
    color: #fffe00cc;
  }

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}
.footer-text{
  margin-bottom: 0.5rem;
}

/* copyright */
.copyright{
  background-color: #2F2A2A;
  border-top: 1px solid #999999;
  padding: 15px;
}
.copyright p{
  color: #999999;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  color: #fffe00cc;
}
.fa-instagram{
  font-size: 3.5rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
}

@media (max-width: 768px){
  #footer-brand {
    width: 12rem;
  }
  .access-info {
    gap: 1rem;
  }
}

@media (max-width: 576px){
  .footer-content {
    flex-direction: column;
  }
  .access-info {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  footer .social{
    align-items: unset;
    justify-content: center;
    padding: 1rem;
  }
  #footer-brand{
    margin-bottom: 0;
  }
}

@media (max-width: 435px){
  .fa-brands{
    font-size: 1.8rem;
  }
}
