.menu{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(225, 72, 23, 0.5), rgba(0, 0, 0, 0.8)) , image-url('shop_6.jpg');
}
.menu .container{
  height: 100vh;
  padding-top: 5rem;
}
.menu .section-title h1{
  font-family: "CooperBlack";
  color: #fffe00cc;
  text-shadow: 2px 2px #000000;
}
.menu .section-title h1:before{
  left: 0%;
}
.tab{
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
  padding: 0;
  overflow: hidden;
}
.tablinks{
  color: #fffe00cc;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  margin: 0px 8px;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0px;
  text-shadow: 2px 2px #000000;
}
.tablinks.active{
  color: #fffe00cc;
  border-bottom: 2px solid #fffe00cc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  transform: scale(1.2); /* Zoom in on hover */

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

/* Style the tab content */
.tabcontent {
  display: none;
  height: 70%;
  justify-content: space-around;
  flex-direction: column;
  color: #fffe00cc;
  text-shadow: 1px 1px #000000;
  text-align: center;
  padding: 6px 12px;
  animation: fadeEffect 1.5s; /* Fading effect takes 1 second */
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*
.menu .filter-buttons{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.menu .filter-buttons ul{
  list-style: none;
  text-align: center;
  padding: 0;
}
.menu .filter-buttons ul li{
  color: #fffe00cc;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  margin: 0px 8px;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0px;
  text-shadow: 2px 2px #000000;
}
.menu .filter-buttons ul li.active{
  color: #fffe00cc;
  border-bottom: 2px solid #fffe00cc;
}
.menu-content{
  color: #fffe00cc;
  text-shadow: 1px 1px #000000;
}
.menu-content p{
  text-align: center;
}
*/
