.head1, .head2 {
  opacity: 0; /* Initially hidden */
  transition: background-color 0.5s ease;
}
.head1.fixed, .head2.fixed {
  background-color: #54151978; /* Change this to the desired color */
}

header{
  position: fixed;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #423940;
  z-index: 11;
}
header.fixed{
  position: fixed;
  border-color: #541519;
  animation: fixHeader .5s ease;
  z-index: 11;
}
@keyframes fixedHeader{
  0%{
      transform: translateY(-100%);
  }
  100%{
      transform: translateY(-1);
  }
}
.shop-emblem{
  height: auto;
  width: 4.5rem;
  margin-left: 3rem;
}
header .navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 3rem;
}
header .navbar ul li{
  display: inline-block;
  margin-left: 35px;
}
header .navbar ul li a{
  font-family: "CooperBlack";
  font-size: 15px;
  text-decoration: none;
  line-height: 72px;
  text-shadow: 2px 2px #000000;
  color: #fffe00cc;
  display: block;
  position: relative;
}
header .navbar ul li a::before{
  content: '';
  height: 3px;
  background-color: #fffe00cc;
  width: 0%;
  position: absolute;
  right: 0px;
  bottom: -1px;
  transition: all .5s ease;
}

header .navbar ul li a:hover::before{
  width: 100%;
  left: 0;
}
header .navbar ul li a.active::before{
  width: 100%;
  left: 0;
}
